<If "%{REQUEST_URI} != '/index.php'">
    php_value auto_prepend_file "C:/xampp/htdocs/ProgettoFineAnno/include/menuChoice.php"
    php_value auto_append_file "C:/xampp/htdocs/ProgettoFineAnno/include/footer.php"
</If>